body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	height: 100vh;
	display: flex;
	background: black;
}

section {
	flex: 20%;
}

section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0, 61, 135);
	width: 20%;
	opacity: 0.3;
	z-index: -1;
}

.sidebar {
	padding: 50px 0 0 20px;
}

.logo-bar {
	display: flex;
	align-items: center;
}

.logo-text {
	padding: 0 0 0 10px;
}

.logo-text h3 {
	text-transform: uppercase;
	color: lightblue;
}
.logo-text p {
	font-size: 12px;
	margin-top: -15px;
	color: lightblue;
}

.logo-bar img {
	height: 50px;
}

.search {
	margin: 50px 0 0 0;
	background: #fff;
	display: flex;
	width: 250px;
	padding: 5px;
	border-radius: 25px;
}

.searchbar input {
	background: none;
	outline: none;
	border: none;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	padding: 0 0 0 5px;
}

.searchbar img {
	cursor: pointer;
	padding-left: 5px;
}

.navigation-sidebar {
	margin: 30px 0 0 0;
}
.navigation-sidebar .line {
	height: 250px;
	width: 2px;
	background: grey;
}

.navigation-sidebar ul {
	width: 100%;
	margin-top: 20px;
	padding: 0;
}

.navigation-sidebar ul li {
	list-style: none;
	padding-bottom: 15px;
}

.navigation-sidebar ul li a {
	text-decoration: none;
	color: grey;
	text-transform: uppercase;
}

article {
	flex: 80%;
	color: white;
	padding-left: 80px;
}

.main-section {
	padding: 30px 0 0 0;
}

.navbar ul {
	width: 40%;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.navbar ul li {
	list-style: none;
	text-transform: uppercase;
}

.navbar ul li a {
	text-decoration: none;
	color: white;
}

.text h1 {
	text-transform: uppercase;
	font-size: 4rem;
	width: 50%;
}

.middle-section div {
	display: flex;
	text-transform: uppercase;
}

.middle-section div p {
	padding: 0 20px 0 0;
	cursor: pointer;
}

.middle-section div img {
	height: 50px;
	cursor: pointer;
}

.middle-section .preview {
	position: absolute;
	right: 40%;
	bottom: 40%;
	z-index: 2;
}

.middle-section .settings {
	position: absolute;
	right: 39%;
	bottom: 30%;
	z-index: 2;
}

.middle-section .download {
	position: absolute;
	right: 37%;
	bottom: 20%;
	z-index: 2;
}

.final-section {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
}

.final-section h4:nth-child(1) {
	font-size: 30px;
	border-bottom: 5px solid white;
}

.final-section h4 {
	font-size: 20px;
	border-bottom: 2px solid white;
	cursor: pointer;
}

.bg-pictures .volume {
	height: 25px;
	position: absolute;
	right: 3%;
	bottom: 5%;
	cursor: pointer;
	z-index: 2;
}

.bg-pictures .robot {
	position: absolute;
	height: 90%;
	bottom: 0;
	right: 5%;
	z-index: 1;
}

.bg-pictures .robotics {
	text-transform: uppercase;
	color: grey;
	position: absolute;
	top: 10%;
	right: 5%;
	font-size: 8rem;
	opacity: 0.3;
	z-index: -1;
}

.bg-pictures .background-o {
	position: absolute;
	top: 5%;
	bottom: 0;
	left: 14%;
	right: 0;
	color: grey;
	opacity: 0.3;
	font-size: 15rem;
}
